@model PrismaWEB.Models.Pessoas

@{
    ViewBag.Title = "Details";
}

<div class="form-row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group col-md-12">
        <div class="col-md-offset-2">
            <a href="@Url.Action("Create")" class="btn btn-success">Novo</a>
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info">Editar</a>
            <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger">Deletar</a>
        </div>
    </div>
    <div class="form-group col-md-6">
        @Html.LabelFor(model => model.Nome, "Nome")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.DataNascimento, "Data de Nascimento")
        <div class="ui-widget">
            @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Cpf, "Cpf")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-12" style="display:none">
        @Html.LabelFor(model => model.DataCriacao)
        <div class="ui-widget">
            @Html.EditorFor(model => model.DataCriacao, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-12" style="display:none">
        @Html.LabelFor(model => model.DataAlteracao)
        <div class="ui-widget">
            @Html.EditorFor(model => model.DataAlteracao, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-1">
        @Html.LabelFor(model => model.Ativo, "Ativo")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Ativo, new { htmlAttributes = new { @class = "form-control", Type = "CheckBox" } })
        </div>
    </div>

    <div class="form-group col-md-5">
        @Html.LabelFor(model => model.Email, "Email")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.TelefoneFixo, "Telefone Fixo")
        <div class="ui-widget">
            @Html.EditorFor(model => model.TelefoneFixo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.TelefoneMovel, "Telefone Movel")
        <div class="ui-widget">
            @Html.EditorFor(model => model.TelefoneMovel, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Foto, "Foto")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Foto, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.DataCriacao, "Data de Criação")
        <div class="ui-widget">
            @Html.EditorFor(model => model.DataCriacao, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.DataAlteracao, "Data de Alteração")
        <div class="ui-widget">
            @Html.EditorFor(model => model.DataAlteracao, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>

<!--Localização-->
<div class="form-row">
    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Bairros.Nome, "Estado")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Bairros.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Estados.Nome, "Estado")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Estados.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Logradouros.Nome, "Logradouro")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Logradouros.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Cidades.Nome, "Municipio")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Cidades.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Paises.Nome, "Pais")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Paises.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Cep, "Cep")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-1">
        @Html.LabelFor(model => model.Numero)
        <div class="ui-widget">
            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Complemento)
        <div class="ui-widget">
            @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>

<!-- TABS -->
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Cargos</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
    <div class="form-group col-md-12">
        <div class="col-md-offset-2">
            <a href="@Url.Action("Create", "CandidatoCargo")/@Model.Id" class="btn btn-success"><i class="fa fa-plus"></i> Novo</a>
        </div>
    </div>
    <IFRAME src="@Url.Action("index", "CandidatoCargo")/Index/@Model.Id" width="1040" height="400" scrolling="yes" frameborder="0" align="center"></IFRAME>
</div>
<!--FIM-->

<script src="~/Content/js/helper/DisableCampos.js"></script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--<IFRAME src="@Url.Action("Create", "CandidatoCargo")/@Model.Id" width="400" height="400" scrolling="yes" frameborder="0" align="center"></IFRAME>-->
            </div>
        </div>
    </div>
</div>