@model PrismaWEB.Models.Aluguels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aluguels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataHoraRetirada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraRetirada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHoraDevolucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHoraDevolucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carroes.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carroes.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Protecaos.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Protecaos.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
