@model PrismaWEB.Models.Bairros

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group col-md-12">
            <div class="col-md-offset-2">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <input id="SaveAndNew" type="submit" value="Salvar/Novo" class="btn btn-info" />
                <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Nome)
            <div class="ui-widget">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Paises.Nome, "Pais")
            <div class="ui-widget">
                <select id="Pais_Id" class="ui fluid search selection dropdown dropDownSelect Pais_Id" name="Pais_Id">
                    @foreach (var item in ViewBag.Pais_Id)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Paises.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Estados.Nome, "Estado")
            <div class="ui-widget">
                <select id="Estado_" class="ui fluid search selection dropdown dropDownSelect Estado_Id"></select>
                <input class="disabled" id="Estado_Id" name="Estado_Id" TYPE="hidden" value="">
                @Html.ValidationMessageFor(model => model.Paises.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Cidades.Nome, "Municipio")
            <div class="ui-widget">
                <select id="Municipio_" class="ui fluid search selection dropdown dropDownSelect Municipio_Id"></select>
                <input class="disabled" id="Municipio_Id" name="Municipio_Id" TYPE="hidden" value="">
                @Html.ValidationMessageFor(model => model.Paises.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-offset-2">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<script src="~/Content/js/helper/CarregaLocalizacao.js"></script>
<script>
    $("#Pais_Id").change(function () {
        var id = $("#Pais_Id").val()
        $(".Estado_Id").addClass("loading")
        CarregaLocalizacao(id, '@Url.Action("RetornaEstados", "SelectLocalizacao")?Id=', "Estado_Id");
    });

    $(function () {
        var id = $("#Pais_Id").val()
        CarregaLocalizacao(id, '@Url.Action("RetornaEstados", "SelectLocalizacao")?Id=', "Estado_Id");
        $(".Estado_Id .search").on("blur", function () {
            $(".Municipio_Id").addClass("loading")
            setTimeout(function () {
                var id = $('.Estado_Id .menu .selected').data('value');
                if ($(".Estado_Id .text").text() != "") {
                    $('#Estado_Id').val(id).text($('.Estado_Id .menu .selected').text());
                    CarregaLocalizacao(id, '@Url.Action("RetornaMunicipios", "SelectLocalizacao")?Id=', "Municipio_Id");
                }
        }, 500);
        });
    })
    //Carregando label invisivel do municipo
    $("#Municipio_").change(function () {
        setTimeout(function () {
            var id = $('.Municipio_Id .menu .selected').data('value');
            $("#Municipio_Id").val(id)
        }, 500);
    });
</script>