@model PrismaWEB.Models.Estados

@{
    ViewBag.Title = "Details";
}

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Create")" class="btn btn-success">Novo</a>
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-info">Editar</a>
            <a href="@Url.Action("Delete", new { id = Model.Id })" class="btn btn-danger">Deletar</a>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, "Nome", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Paises.Nome, "País", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Paises.Nome, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>

<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Municipios</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
    <div class="card-header">
        <a href="@Url.Action("Create", "Municipios")" class="btn btn-success"><i class="fa fa-plus"></i> Novo</a>
    </div>
    @foreach (var item in ViewBag.Municipios)
    {
        <table class="table">
            <tr>
                <td>
                    <a href="~/Municipios/Details/@item.Id" class="removeAzulLink">
                        @item.Nome
                    </a>
                </td>
            </tr>
        </table>
    }
</div>

<p>
    <script src="~/Content/js/helper/DisableCampos.js"></script>
</p>
