@model PrismaWEB.Models.Pessoas

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-row">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group col-md-12">
        <div class="col-md-offset-2">
            <input type="submit" value="Salvar" class="btn btn-success" />
            <input id="SaveAndNew" type="submit" value="Salvar/Novo" class="btn btn-info" />
            <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Nome, "Nome")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.DataNascimento, "Data de Nascimento")
        <div class="ui-widget">
            @Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Cpf, "CPF")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Foto)
        <div class="ui-widget">
            @Html.EditorFor(model => model.Foto, new { htmlAttributes = new { @class = "form-control", Type = "file" } })
            @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2" style="display : none">
        @Html.LabelFor(model => model.DataCriacao, "Data de Criação")
        <div class="ui-widget">
            @Html.EditorFor(model => model.DataCriacao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DataCriacao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2" style="display : none">
        @Html.LabelFor(model => model.DataAlteracao, "Data de alteração")
        <div class="ui-widget">
            @Html.EditorFor(model => model.DataAlteracao, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DataAlteracao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Ativo, "Tipo")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Ativo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Email, "Email")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.TelefoneFixo, "Telefone Fixo")
        <div class="ui-widget">
            @Html.EditorFor(model => model.TelefoneFixo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TelefoneFixo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.TelefoneMovel, "Celular")
        <div class="ui-widget">
            @Html.EditorFor(model => model.TelefoneMovel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TelefoneMovel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-3">
        @Html.LabelFor(model => model.Endereco, "Endereço")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Pais_Id, "País")
        <div class="ui-widget">
            <select id="Pais_Id" class="ui fluid search selection dropdown dropDownSelect" name="Pais_Id">
                @foreach (var item in ViewBag.Pais_Id)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Pais_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Estado_Id, "Estado")
        <div class="ui-widget">
            <select id="Estado_Id" class="ui fluid search selection dropdown dropDownSelect" name="Estado_Id">
                @foreach (var item in ViewBag.Estado_Id)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Estado_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Cidade_Id, "Cidade")
        <div class="ui-widget">
            <select id="Cidade_Id" class="ui fluid search selection dropdown dropDownSelect" name="Cidade_Id">
                @foreach (var item in ViewBag.Cidade_Id)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Cidade_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Bairro_Id, "Bairro")
        <div class="ui-widget">
            <select id="Bairro_Id" class="ui fluid search selection dropdown dropDownSelect" name="Bairro_Id">
                @foreach (var item in ViewBag.Bairro_Id)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Bairro_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Logradouro_Id, "Logradouro")
        <div class="ui-widget">
            <select id="Logradouro_Id" class="ui fluid search selection dropdown dropDownSelect" name="Logradouro_Id">
                @foreach (var item in ViewBag.Logradouro_Id)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Logradouro_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Cep, "CEP")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Numero, "Número")
        <div class="ui-widget">
            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2">
        @Html.LabelFor(model => model.Complemento)
        <div class="ui-widget">
            @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-2" style="display : none">
        @Html.LabelFor(model => model.Tipo)
        <div class="ui-widget">
            @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-12">
        <div class="col-md-offset-2">
            <input type="submit" value="Salvar" class="btn btn-success" />
        </div>
    </div>
</div>
}

