@model PrismaWEB.Models.CANDIDATOCARGO

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group col-md-12">
            <div class="col-md-offset-2">
                <input type="submit" value="Salvar" class="btn btn-success" />                
                <input id="SaveAndNew" type="submit" value="Salvar/Novo" class="btn btn-info" />
                <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Candidato_Id, "Candidato_Id")
            <div class="ui-widget">
                <select id="Candidato_Id" class="ui fluid search selection dropdown dropDownSelect" name="Candidato_Id">
                    @foreach (var item in ViewBag.Candidato_Id)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Candidato_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.Cargo_Id, "Cargo_Id")
            <div class="ui-widget">
                <select id="Cargo_Id" class="ui fluid search selection dropdown dropDownSelect" name="Cargo_Id">
                    @foreach (var item in ViewBag.Cargo_Id)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Cargo_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.DataCriacao)
            <div class="ui-widget">
                @Html.EditorFor(model => model.DataCriacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataCriacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-offset-2">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

