
@{
    Layout = null;
}

<div class="form-group col-md-3">
    @Html.LabelFor(model => "Pais_Id", "Pais")
    <div class="ui-widget">
        <select id="Pais_Id" class="ui fluid search selection dropdown dropDownSelect Pais_Id" name="Pais_Id">
            @foreach (var item in ViewBag.Pais_Id)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
        @Html.ValidationMessageFor(model => "Pais_Id", "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group col-md-3">
    @Html.LabelFor(model => "Estado_Id", "Estado")
    <div class="ui-widget">
        <select id="Estado_" class="ui fluid search selection dropdown dropDownSelect Estado_Id"></select>
        <input class="disabled" id="Estado_Id" name="Estado_Id" TYPE="hidden" value="">
        @Html.ValidationMessageFor(model => "Estado_Id", "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group col-md-3">
    @Html.LabelFor(model => "Municipio_Id", "Municipio")
    <div class="ui-widget">
        <select id="Municipio_" class="ui fluid search selection dropdown dropDownSelect Municipio_Id"></select>
        <input class="disabled" id="Municipio_Id" name="Municipio_Id" TYPE="hidden" value="">
        @Html.ValidationMessageFor(model => "Municipio_Id", "", new { @class = "text-danger" })
    </div>
</div>

<script src="~/Content/js/helper/CarregaLocalizacao.js"></script>
<script>
    $("#Pais_Id").change(function () {
        var id = $("#Pais_Id").val()
        $(".Estado_Id").addClass("loading")
        CarregaLocalizacao(id, '@Url.Action("RetornaEstados", "SelectLocalizacao")?Id=', "Estado_Id");
    });

    $(function () {
        var id = $("#Pais_Id").val()
        CarregaLocalizacao(id, '@Url.Action("RetornaEstados", "SelectLocalizacao")?Id=', "Estado_Id");
        $(".Estado_Id .search").on("blur", function () {
            $(".Municipio_Id").addClass("loading")
            setTimeout(function () {
                var id = $('.Estado_Id .menu .selected').data('value');
                if ($(".Estado_Id .text").text() != "") {
                    $('#Estado_Id').val(id).text($('.Estado_Id .menu .selected').text());
                    CarregaLocalizacao(id, '@Url.Action("RetornaMunicipios", "SelectLocalizacao")?Id=', "Municipio_Id");
                }
        }, 500);
        });
    })
    //Carregando label invisivel do municipo
    $("#Municipio_").change(function () {
        setTimeout(function () {
            var id = $('.Municipio_Id .menu .selected').data('value');
            $("#Municipio_Id").val(id)
        }, 500);
    });
</script>

